.App {
  text-align: left;
}

a {
  text-decoration: none;
  color: #f36d00
}

a:hover {
  color: #fe8f34
}

.welcome-appear {
  opacity: 0.001;
}

.welcome-appear.welcome-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.welcome-name-appear {
  opacity: 0.001;
}

.welcome-name-appear.welcome-name-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
  transition-delay: 1s;
}

#welcome-text {
  font-size: 0.75em;
}

#content {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -8em;
  margin-left: -16em;
}

#sw-image {
  width: 10em;
  padding-right: 3em;
  padding-top: 1em;
}

#sw-image img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

#background-video {
  position: fixed;
  bottom: 0;
  top: 0;
  min-width: 100%;
}

@media screen and (max-width: 660px) {
  #content {
    flex-direction: column;
    margin-left: -8em;
  }

  #sw-image {
    margin-left: 3.25em;
    width: 10em;
  }

  #welcome-text {
    text-align: center;
    font-size: 0.4em;
    margin-left: -0.5em;
  }
}
